body {
  font-family:
    Menlo,
    Consolas,
    Monaco,
    Liberation Mono,
    Lucida Console,
    monospace;
  font-size: 0.9rem;
  margin: 0 auto;
  max-width: 50em;
  padding: 1rem;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

pre {
  border: 1px solid #000;
  overflow: scroll;
  padding: 0.5rem;
}

:not(pre) code {
  color: #f00;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  padding-right: 0.25rem;
}
