<!doctype html>
<html lang="en-us">
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>
    {% block subtitle %}{% endblock %}
    {% block title %}{{ site_name | default("weblorg website") }}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if site_owner is defined %}<meta name="author" content="{{ site_owner }}" >{% endif %}
    {% if site_description is defined %}<meta name="description" content="{{ site_description }}" >{% endif %}
    {% if site_keywords is defined %}<meta name="keywords" content="{{ site_keywords }}" >{% endif %}
    <link rel="stylesheet" href="{{ url_for("static", file="styles.min.css") }}" type="text/css">
    <link rel="icon" type="image/png" href="{{ url_for("static", file="favicon.png") }}">
    {% block meta %}{% endblock %}
    {% endblock %}
</head>
<body>
	<nav class="site-nav" aria-label="site-nav" role="navigation">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/services/">Services</a></li>
			<li><a href="/wiki/">Wiki</a></li>
		</ul>
	</nav>
    <main>{% block main %}{% endblock %}</main>
	<footer>
        <p>Donate: <a href="monero:82frXv83WVsGbTwuqSyb27cvy67JpD7Ktaij12Avy6ogfZatsgPG67YgsmEmvTFLKd1Rk7MUwx8D31ieGwLdD4wa4KdtxDB">XMR</a>
        | <a href="ethereum:0x11255046Ccd637f1ACc78ae7c8849870f85638B3">ETH</a>
        | <a href="bitcoin:bc1qw4rg9rsxru2j6kvda3ehl5uc38tygdnd5tu5j2">BTC</a>
        </p>
        <p>Last build: &lt;{{ now() | strftime("%Y-%m-%d %a %H:%M:%S") }}&gt;</p>
		<p>
            <a href="https://stats.uptimerobot.com/OwOWs7HU0z">Status</a> &middot;
			<a href="https://github.com/ccleberg/cleberg.net" target="_blank"
			rel="noopener">Source Code</a> &middot;
			<a href="/feed.xml">RSS Feed</a> &middot;
            <a href="/.well-known/security.txt">security.txt</a>
		</p>
        <p>
            <a href="https://xn--sr8hvo.ws/previous">←</a> &middot;
            <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> &middot;
            <a href="https://xn--sr8hvo.ws/next">→</a>
        </p>
	</footer>
</body>
</html>
