{% extends "base.html" %} {% block main %}
<section>
	<h1>cleberg.net</h1>
	<blockquote>
		Do AIs dream in electric sheep?<br />He hoped it had nanosecond nightmares.
	</blockquote>
	<a href="https://git.cleberg.net">git</a>&nbsp;
	<a href="/gpg.txt">gpg</a>&nbsp;
	<a href="https://matrix.to/#/@cyborg:matrix.tchncs.de">matrix</a>&nbsp;
	<a href="/feed.xml">rss</a>
	<br>
	<a href="/blog/">blog</a>&nbsp;
	<a href="/salary/">salary</a>&nbsp;
	<a href="/services/">services</a>&nbsp;
	<a href="/wiki/">wiki</a>
</section>
<footer>
	<p>Last Build: &lt;<time datetime='{{ now() | strftime("%Y-%m-%d %H:%M:%S") }}'>{{ now() | strftime("%Y-%m-%d %a %H:%M:%S") }}</time>&gt;</p>
</footer>
{% endblock %}
