{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>
<p>Use <code>Ctrl + F</code> to search blog post titles for keywords.</p>
<p>You can also add the <a href="/atom.xml">Atom RSS Feed</a> to your feed reader.</p>
{% set post_date = "1970-01-01" | date(format="%Y") %}
{% for page in section.pages %}
    {% if post_date != page.date | date(format="%Y") %}
        {% set_global post_date = page.date | date(format="%Y") %}
        <h2>{{ post_date }}</h2>
    {% endif %}
    <div class="post">
        <time datetime="{{ page.date | date(format='%Y-%m-%d %H:%M:%S') }}">{{ page.date | date(format='%Y-%m-%d') }}</time>
        <a href="/blog/{{ page.slug }}/">{{ page.title }}</a>
    </div>
{% endfor %}
{% endblock content %}
